@import '~normalize.css/normalize.css';

@import './base/color.scss';
@import './base/fonts.scss';
@import './base/mixins.scss';


@import '~primeicons/primeicons.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeflex/primeflex.css';

@import './base/configuration.scss';


@import './apps/shop/pages/home-page.scss';
@import './apps/shop/pages/products-list-page.scss';


@import './apps/shop/shared/header.scss';
@import './apps/shop/shared/footer.scss';
@import './apps/shop/shared/nav.scss';


@import './libs/ui/ui.scss';
@import './libs/products/products.scss';



.container {
    width: 1200px;
    padding: 15px;
    margin: 0 auto;
    background-color: var(--surface-100);
}